.App {
  text-align: center;
}

.app-main {
  position: relative;
  min-height:  calc(100vh - 60px - 130px);
  margin-top: 64px;
}

.translation-background {
  position: absolute;
  width: 100vw;
  height: calc(100% - 200px);
  top: 0;
  left: 0;
  padding-top: 200px;
  display: flex;
  justify-content: center;
  align-items: 'center';
  background-color: rgba(150, 150, 240, 0.3);
}

.translation-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(50, 50, 140, 0.9);
  background-color: rgba(255, 255, 255, 0.85);
  padding: 60px;
  max-height: 120px;
  border-radius: 3px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CSS Framework Override */
h6.MuiTypography-subtitle2 {
  font-weight: 600;
}

button.MuiButton-root {
  font-weight: 600;
}